<h1>Home Page</h1>
<p>Updated Udemy project</p>

<%= link_to "Blogs", blogs_path %>

<h2>Skills</h2>
<ul>
  <% @skills.each do |skill| %>
    <li><%= skill.name %>: <%= skill.percent_utilized || 0 %>%</li>
  <% end %>
</ul>
